@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); 
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Lora", serif;
    }

    header {
        display: flex;
        color: var(--text-dark);
        padding: 1rem;
        text-align: center;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    header img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    form {
        position: relative;
        width: 100%;
    }
    #search {
        margin: 1rem auto;
        width: 98%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        position: absolute;
        right: 1;
    }
    .recipe-block {
        padding: 1rem;
        margin: 1rem;
        border: 2px solid black;
    }
    .recipe {
        display: flex;
        
        width: 100%;
    }
    .recipe img {
        display: flex;
        justify-content: flex-start;
    }
    
   .footer{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .social img {
        height: 50px;
        margin: 0 auto;
    }